<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>CNU 영화관 - 영화 검색</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="" method="get">
        <label>
            <input type="text" name="title" placeholder="영화 제목" th:value="${title}"/>
        </label>
        <label>
            <input type="date" name="ticketingDate" placeholder="영화 관람일" th:value="${ticketingDate}"/>
        </label>
        <button type="submit">검색</button>
    </form>

    <th:block th:if="${nowOpenMovies.size() > 0}">
        <h2>상영 중인 영화</h2>
        <table>
            <thead>
            <tr>
                <th>영화 제목</th>
                <th>개봉일자</th>
                <th>관람등급</th>
                <th>러닝타임</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${nowOpenMovies}">
                <td>
                    <a th:href="@{/search/{id}(id=${movie.getMid()})}" th:text="${movie.getTitle()}"></a>
                </td>
                <td th:text="${movie.getOpenDay()}"></td>
                <td th:text="${movie.getRating()}"></td>
                <td th:text="${movie.getLength()}"></td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <th:block th:if="${openExpectedMovies.size() > 0}">
        <h2>상영 예정 영화</h2>
        <table>
            <thead>
            <tr>
                <th>영화 제목</th>
                <th>개봉일자</th>
                <th>관람등급</th>
                <th>러닝타임</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${openExpectedMovies}">
                <td>
                    <a th:href="@{/search/{id}(id=${movie.getMid()})}" th:text="${movie.getTitle()}"></a>
                </td>
                <td th:text="${movie.getOpenDay()}"></td>
                <td th:text="${movie.getRating()}"></td>
                <td th:text="${movie.getLength()}"></td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <h3 th:if="${nowOpenMovies.size() + openExpectedMovies.size() == 0}">해당하는 영화가 없습니다.</h3>
</body>
</html>