<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>CNU 영화관 - 영화 정보</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${movie.title}"></h1>
<p>영화 개봉일 : <span th:text="${movie.openDay}"></span></p>
<p>감독 : <span th:text="${movie.director}"></span></p>
<p>등급 : <span th:text="${movie.rating.toString()}"></span></p>
<p>러닝타임 : <span th:text="${movie.length} + '분'"></span></p>
<p th:text="'배우 : ' + ${#strings.listJoin(movie.actors.![name], ', ')}"></p>
<th:block th:switch="${movie.openDay.compareTo(now) < 0}">
    <div th:case="true">
        <p th:text="'예매자 수: ' + ${movie.getTotalReservedSeats()}"></p>
        <p th:text="'누적 관객 수: ' + ${movie.getTotalWatchedSeats()}"></p>
    </div>
    <div th:case="false">
        <p th:text="'예매자 수: ' + ${movie.getTotalReservedSeats()}"></p>
    </div>
</th:block>

<table>
    <thead>
    <tr>
        <th>예매하기</th>
        <th>상영 시간표</th>
        <th>영화관 이름</th>
        <th>잔여석</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="schedule : ${schedules}">
        <td>
            <form action="/ticketing/process" method="post">
                <input type="hidden" name="sid" th:value="${schedule.sid}" />
                <button type="submit">예매하기</button>
            </form>
        </td>
        <td th:text="${schedule.showAt}"></td>
        <td th:text="${schedule.tname}"></td>
        <td th:text="${schedule.remainSeats}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>