<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>CNU 영화관 - 시간표 추가</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="" method="post">
    <label>
        <input type="text" name="mid" placeholder="영화 ID" />
    </label>
    <label>
        <input type="text" name="tname" placeholder="영화관 이름" />
    </label>
    <label>
        <input type="datetime-local" name="showAt" placeholder="영화 상영 시작 시각" />
    </label>
    <button type="submit">추가</button>
</form>


</body>
</html>