<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ko">
<head>
    <title>CNU 영화관 - 메인</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>CNU 영화관입니다.</h1>
    <nav>
        <a href="/search">영화 검색</a>
        | <a href="/user">내 정보</a>
        <span sec:authorize="hasRole('ADMIN')">
            | <a href="/admin">관리자 페이지</a>
        </span>
        | <a href="/logout">로그아웃</a>
    </nav>
</body>
</html>